
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Adjusted for dark theme */
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87); /* Light text color for dark background */
  background-color: #ffffff; /* Dark background color */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
